#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  calcom-app.service
BindsTo=calcom.service
After=calcom.service postgresql-app.service redis-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/calcom-app.pid %t/calcom-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/bin/sh -c 'grep -q NEXTAUTH_SECRET secret.env || echo "NEXTAUTH_SECRET=`openssl rand -hex 64`" >> secret.env'
ExecStartPre=/bin/sh -c 'grep -q CALENDSO_ENCRYPTION_KEY secret.env || echo "CALENDSO_ENCRYPTION_KEY=`openssl rand -hex 64`" >> secret.env'
ExecStart=/usr/bin/podman run --conmon-pidfile %t/calcom-app.pid \
    --cidfile %t/calcom-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/calcom.pod-id --replace -d --name  calcom-app \
    --env-file=%S/state/secret.env \
    --env NEXT_PUBLIC_WEBAPP_URL=https://${TRAEFIK_HOST} \
#    --env ALLOWED_HOSTNAMES=${TRAEFIK_HOST} \
    --env NEXT_PUBLIC_API_V2_URL=http://localhost:5555/api/v2 \
    --env NEXT_PUBLIC_LICENSE_CONSENT="" \
    #--env NEXT_PUBLIC_WEBSITE_TERMS_URL: ${NEXT_PUBLIC_WEBSITE_TERMS_URL} \
    #--env NEXT_PUBLIC_WEBSITE_PRIVACY_POLICY_URL: ${NEXT_PUBLIC_WEBSITE_PRIVACY_POLICY_URL} \
    #--env NEXT_PUBLIC_SINGLE_ORG_SLUG: ${NEXT_PUBLIC_SINGLE_ORG_SLUG} \
    --env ORGANIZATIONS_ENABLED=0 \
    --env CALCOM_TELEMETRY_DISABLED=0 \
    --env DATABASE_URL="postgresql://postgres:Nethesis,1234@127.0.0.1:5432/calcom" \
    --env DATABASE_DIRECT_URL="postgresql://postgres:Nethesis,1234@127.0.0.1:5432/calcom" \
    --env CSP_POLICY=non-strict \
#    --env NODE_TLS_REJECT_UNAUTHORIZED=0 \
    ${CAL_COM_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/calcom-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP calcom-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/calcom-app.ctr-id
PIDFile=%t/calcom-app.pid
Type=forking

[Install]
WantedBy=default.target
