#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  redis-app.service
BindsTo=calcom.service
After=calcom.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/redis-app.pid %t/redis-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/redis-app.pid \
    --cidfile %t/redis-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/calcom.pod-id --replace -d --name  redis-app \
    --volume redis-app:/data:z \
    ${REDIS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/redis-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP redis-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/redis-app.ctr-id
PIDFile=%t/redis-app.pid
Type=forking

[Install]
WantedBy=default.target
